In [17]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt
import getpass
from IPython.display import display
from ipywidgets import widgets, Label

%matplotlib inline

In [18]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = widgets.Text(description="HOST:", width=1000)
display(POSTGRES_ADDRESS)

POSTGRES_PORT = widgets.Text(description="PORT:", width=1000)
display(POSTGRES_PORT)

POSTGRES_USERNAME = widgets.Text(description="USER:", width=1000)
display(POSTGRES_USERNAME)

POSTGRES_DBNAME = widgets.Text(description="DB:", width=1000)
display(POSTGRES_DBNAME)

POSTGRES_PASSWORD = widgets.Password(description="Password:", width=1000)
display(POSTGRES_PASSWORD)

Text(value='', description='HOST:')

Text(value='', description='PORT:')

Text(value='', description='USER:')

Text(value='', description='DB:')

Password(description='Password:')

In [19]:
from sqlalchemy import create_engine

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=POSTGRES_USERNAME.value,
                        password=POSTGRES_PASSWORD.value,
                        ipaddress=POSTGRES_ADDRESS.value,
                        port=POSTGRES_PORT.value,
                        dbname=POSTGRES_DBNAME.value))

# Create the connection
cnx = create_engine(postgres_str)

In [20]:
pd.read_sql_query('''select * from pg_awr_snapshots_cust order by snap_id;''', cnx)

     snap_id                sample_start_time                  sample_end_time
0          1 2019-12-08 22:37:01.314594+00:00 2019-12-08 22:37:06.484325+00:00
1          2 2019-12-08 22:38:01.846568+00:00 2019-12-08 22:38:07.050937+00:00
2          3 2019-12-08 22:39:01.351866+00:00 2019-12-08 22:39:06.522365+00:00
3          4 2019-12-08 22:40:01.857342+00:00 2019-12-08 22:40:07.060880+00:00
4          5 2019-12-08 22:41:01.387431+00:00 2019-12-08 22:41:06.547204+00:00
5          6 2019-12-08 22:42:01.862999+00:00 2019-12-08 22:42:07.338244+00:00
6          7 2019-12-08 22:43:01.668694+00:00 2019-12-08 22:43:06.935764+00:00
7          8 2019-12-08 22:44:02.288699+00:00 2019-12-08 22:44:08.744472+00:00
8          9 2019-12-08 22:45:02.354888+00:00 2019-12-08 22:45:10.311393+00:00
9         10 2019-12-08 22:46:01.817678+00:00 2019-12-08 22:46:10.610502+00:00
10        11 2019-12-08 22:47:02.250977+00:00 2019-12-08 22:47:14.802834+00:00
11        12 2019-12-08 22:48:02.599019+00:00 2019-12-08 22:48:18.952947+00:00
12        13 2019-12-08 22:49:01.826664+00:00 2019-12-08 22:49:18.714077+00:00
13        14 2019-12-08 22:50:02.933523+00:00 2019-12-08 22:50:23.874406+00:00
14        15 2019-12-08 22:51:02.067249+00:00 2019-12-08 22:51:28.669490+00:00
15        16 2019-12-08 22:52:02.917598+00:00 2019-12-08 22:52:34.962398+00:00
16        17 2019-12-08 22:53:02.698992+00:00 2019-12-08 22:53:36.390150+00:00
17        18 2019-12-08 22:54:02.555564+00:00 2019-12-08 22:54:36.934651+00:00
18        19 2019-12-08 22:55:02.450978+00:00 2019-12-08 22:55:36.544656+00:00
19        20 2019-12-08 22:56:01.986753+00:00 2019-12-08 22:56:37.639069+00:00
20        21 2019-12-08 22:57:02.310737+00:00 2019-12-08 22:57:46.508104+00:00
21        22 2019-12-08 22:58:02.720163+00:00 2019-12-08 22:59:07.597852+00:00
22        22 2019-12-08 22:59:02.958376+00:00 2019-12-08 23:00:02.246894+00:00
23        23 2019-12-08 23:00:03.397873+00:00 2019-12-08 23:00:59.870412+00:00
24        24 2019-12-08 23:01:04.663221+00:00 2019-12-08 23:02:10.930403+00:00
25        24 2019-12-08 23:02:03.150760+00:00 2019-12-08 23:02:58.614498+00:00
26        25 2019-12-08 23:03:02.378184+00:00 2019-12-08 23:03:56.958446+00:00
27        26 2019-12-08 23:04:02.903496+00:00 2019-12-08 23:04:57.842444+00:00
28        27 2019-12-08 23:05:03.018687+00:00 2019-12-08 23:06:08.523324+00:00
29        27 2019-12-08 23:06:02.958946+00:00 2019-12-08 23:06:56.678154+00:00
..       ...                              ...                              ...
155      153 2019-12-09 01:12:01.950673+00:00 2019-12-09 01:12:07.969597+00:00
156      154 2019-12-09 01:13:02.279345+00:00 2019-12-09 01:13:07.693145+00:00
157      155 2019-12-09 01:14:01.995524+00:00 2019-12-09 01:14:07.287576+00:00
158      156 2019-12-09 01:15:01.618658+00:00 2019-12-09 01:15:07.610369+00:00
159      157 2019-12-09 01:16:01.962538+00:00 2019-12-09 01:16:07.410565+00:00
160      158 2019-12-09 01:17:01.763669+00:00 2019-12-09 01:17:07.627771+00:00
161      159 2019-12-09 01:18:01.925898+00:00 2019-12-09 01:18:07.236294+00:00
162      160 2019-12-09 01:19:01.553011+00:00 2019-12-09 01:19:06.762358+00:00
163      161 2019-12-09 01:20:02.106493+00:00 2019-12-09 01:20:07.406421+00:00
164      162 2019-12-09 01:21:01.708468+00:00 2019-12-09 01:21:07.436091+00:00
165      163 2019-12-09 01:22:01.740971+00:00 2019-12-09 01:22:07.002372+00:00
166      164 2019-12-09 01:23:01.330541+00:00 2019-12-09 01:23:06.823766+00:00
167      165 2019-12-09 01:24:02.119891+00:00 2019-12-09 01:24:07.373875+00:00
168      166 2019-12-09 01:25:01.708827+00:00 2019-12-09 01:25:07.322139+00:00
169      167 2019-12-09 01:26:01.630426+00:00 2019-12-09 01:26:06.904271+00:00
170      168 2019-12-09 01:27:02.235451+00:00 2019-12-09 01:27:07.487343+00:00
171      169 2019-12-09 01:28:01.833311+00:00 2019-12-09 01:28:07.247147+00:00
172      170 2019-12-09 01:29:01.542868+00:00 2019-12-09 01:29:06.839036+00:00
173      171 2019-12-09 01:30:02.174510+00:00 2019-12-09 01:30:07.501426+00:00
174      172 2019-12-09 01:31:01.832615+00:00 2019-12-09 01:31:07.118427+00:00
175      173 2019-12-09 01:32:01.440737+00:00 2019-12-09 01:32:06.928157+00:00
176      174 2019-12-09 01:33:02.260134+00:00 2019-12-09 01:33:07.627506+00:00
177      175 2019-12-09 01:34:01.944196+00:00 2019-12-09 01:34:07.399988+00:00
178      176 2019-12-09 01:35:01.731423+00:00 2019-12-09 01:35:07.079033+00:00
179      177 2019-12-09 01:36:01.416237+00:00 2019-12-09 01:36:07.566033+00:00
180      178 2019-12-09 01:37:01.870878+00:00 2019-12-09 01:37:07.169617+00:00
181      179 2019-12-09 01:38:01.534679+00:00 2019-12-09 01:38:07.127373+00:00
182      180 2019-12-09 01:39:01.425856+00:00 2019-12-09 01:39:06.705419+00:00
183      181 2019-12-09 01:40:02.031975+00:00 2019-12-09 01:40:07.287600+00:00
184      182 2019-12-09 01:41:01.598903+00:00 2019-12-09 01:41:06.827235+00:00

[185 rows x 3 columns]

In [ ]:
sql_dist = pd.read_sql_query('''with get_sql_id as (
select sample_start_time,a.snap_id,dbid,userid,queryid,round(avg(calls)) AS calls,round(avg(total_time)) AS total_time,round(avg(rows)) AS rows,
round(avg(shared_blks_hit)) AS shared_blks_hit,round(avg(shared_blks_read)) AS shared_blks_read, round(avg(shared_blks_dirtied)) AS shared_blks_dirtied,
round(avg(shared_blks_written)) AS shared_blks_written, round(avg(local_blks_hit)) AS local_blks_hit, round(avg(local_blks_read)) AS local_blks_read,
round(avg(local_blks_dirtied)) As local_blks_dirtied, round(avg(local_blks_written)) AS local_blks_written, round(avg(temp_blks_read)) AS temp_blks_read,
round(avg(temp_blks_written)) AS temp_blks_written, round(avg(blk_read_time)) AS blk_read_time, round(avg(blk_write_time)) AS blk_write_time
from pg_stat_statements_history a, pg_awr_snapshots_cust b where a.snap_id = b.snap_id
and a.snap_id between %(begin_snap_id)s and %(end_snap_id)s
group by sample_start_time,a.snap_id,dbid,userid,queryid
order by dbid,userid,queryid,a.snap_id
),
get_lag_data as (
select sample_start_time,dbid,userid,queryid,snap_id,calls,
case WHEN (calls-lag(calls::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = calls then null
else (calls-lag(calls::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END AS delta_calls,
case WHEN (total_time-lag(total_time::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = total_time then null
else (total_time-lag(total_time::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END as Delta_total_time,
case WHEN (rows-lag(rows::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = rows then null
else (rows-lag(rows::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END as Delta_rows,
case WHEN (shared_blks_hit-lag(shared_blks_hit::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = shared_blks_hit then null
else (shared_blks_hit-lag(shared_blks_hit::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END AS Delta_shared_blks_hit,
case WHEN (shared_blks_read-lag(shared_blks_read::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = shared_blks_read then null
else (shared_blks_read-lag(shared_blks_read::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END AS DELTA_shared_blks_read,
case WHEN (shared_blks_dirtied-lag(shared_blks_dirtied::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = shared_blks_dirtied then null
else (shared_blks_dirtied-lag(shared_blks_dirtied::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END AS DELTA_shared_blks_dirtied,
case WHEN (shared_blks_written-lag(shared_blks_written::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = shared_blks_written then null
else (shared_blks_written-lag(shared_blks_written::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END AS DELTA_shared_blks_written,
case WHEN (temp_blks_written-lag(temp_blks_written::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = temp_blks_written then null
else (temp_blks_written-lag(temp_blks_written::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END AS DELTA_temp_blks_written,
case WHEN (blk_read_time-lag(blk_read_time::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) = blk_read_time then null
else (blk_read_time-lag(blk_read_time::bigint,1,0::bigint) OVER (partition by dbid, userid, queryid ORDER BY snap_id) ) END AS DELTA_blk_read_time
from get_sql_id
where  snap_id between %(begin_snap_id)s-1 and %(end_snap_id)s
)
,time_partitioned_data as (
select dbid,userid,queryid,sum(delta_calls) AS calls,
round((sum(Delta_total_time)/sum(delta_calls))::numeric,2) AS AVG_ELAPSED_TIME,
round((sum(Delta_shared_blks_hit)/sum(delta_calls))::numeric) AS avg_shared_blks_hit,
round((sum(Delta_rows)/sum(delta_calls))::numeric) AS avg_rows,
round((sum(DELTA_shared_blks_dirtied)/sum(delta_calls))::numeric) AS avg_shared_blks_dirtied,
round((sum(DELTA_shared_blks_read)/sum(delta_calls))::numeric) AS avg_shared_blks_read,
round((sum(DELTA_shared_blks_written)/sum(delta_calls))::numeric) AS avg_shared_blks_written,
round((sum(DELTA_temp_blks_written)/sum(delta_calls))::numeric) AS avg_temp_blks_written,
round((sum(DELTA_blk_read_time)/sum(delta_calls))::numeric,2) AS avg_blk_read_time
from get_lag_data
where Delta_total_time is not null
and (delta_calls is not null )
group by dbid,userid,queryid
having sum(delta_calls)>0
)
select calls,avg_elapsed_time AS avg_elapsed_time_msec from time_partitioned_data
order by calls desc;''',cnx,params={'begin_snap_id' : 30, 'end_snap_id' : 180})

sql_dist.head()

In [ ]:
sql_dist.plot.scatter(x='calls', y='avg_elapsed_time_msec',title='SQL elpased Time vs # of Executions')

In [ ]:
index_util = pd.read_sql_query('''with pg_stat_database_vw as (
select a.snap_id,sample_start_time,datname,numbackends,
xact_commit ,
xact_rollback   ,
blks_read  as blks_read       ,
blks_hit  as blks_hit      ,
tup_returned  as tup_returned  ,
tup_fetched   as tup_fetched  ,
tup_inserted   as tup_inserted ,
tup_updated    as tup_updated ,
tup_deleted   as tup_deleted ,
conflicts       ,
temp_files      ,
temp_bytes   as temp_bytes   ,
deadlocks       ,
blk_read_time   ,
blk_write_time  ,
stats_reset
from pg_stat_database_history a, pg_awr_snapshots_cust b where a.snap_id = b.snap_id
and a.snap_id between %(begin_snap_id)s and %(end_snap_id)s
and datname not in ('rdsadmin','template0','template1')
)
,get_lag_data as (select snap_id,sample_start_time,datname,
(lead(xact_commit::bigint,0) over (partition by datname order by snap_id)-lead(xact_commit::bigint,-1) over (partition by datname order by snap_id))/60 as delta_xact_commit,
(lead(xact_rollback::bigint,0) over (partition by datname order by snap_id)-lead(xact_rollback::bigint,-1) over (partition by datname order by snap_id))/60 as delta_xact_rollback,
(lead(blks_read::bigint,0) over (partition by datname order by snap_id)-lead(blks_read::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blks_read,
(lead(blks_hit::bigint,0) over (partition by datname order by snap_id)-lead(blks_hit::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blks_hit,
(lead(tup_returned::bigint,0) over (partition by datname order by snap_id)-lead(tup_returned::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_returned,
(lead(tup_fetched::bigint,0) over (partition by datname order by snap_id)-lead(tup_fetched::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_fetched,
(lead(tup_inserted::bigint,0) over (partition by datname order by snap_id)-lead(tup_inserted::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_inserted,
(lead(tup_updated::bigint,0) over (partition by datname order by snap_id)-lead(tup_updated::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_updated,
(lead(tup_deleted::bigint,0) over (partition by datname order by snap_id)-lead(tup_deleted::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_deleted,
(lead(conflicts::bigint,0) over (partition by datname order by snap_id)-lead(conflicts::bigint,-1) over (partition by datname order by snap_id))/60 as delta_conflicts,
(lead(temp_files::bigint,0) over (partition by datname order by snap_id)-lead(temp_files::bigint,-1) over (partition by datname order by snap_id))/60 as delta_temp_files,
(lead(temp_bytes::bigint,0) over (partition by datname order by snap_id)-lead(temp_bytes::bigint,-1) over (partition by datname order by snap_id))/60 as delta_temp_bytes,
(lead(deadlocks::bigint,0) over (partition by datname order by snap_id)-lead(deadlocks::bigint,-1) over (partition by datname order by snap_id))/60 as delta_deadlocks,
(lead(blk_read_time::bigint,0) over (partition by datname order by snap_id)-lead(blk_read_time::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blk_read_time,
(lead(blk_write_time::bigint,0) over (partition by datname order by snap_id)-lead(blk_write_time::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blk_write_time,
stats_reset
from pg_stat_database_vw)
select snap_id,delta_tup_returned,delta_tup_fetched
from get_lag_data
where datname=%(db_name)s;''',cnx,params={'begin_snap_id' : 30, 'end_snap_id' : 180, 'db_name' : 'pg-ces-4c664f1d-e9b0-4dbf-a2dd-3a4b77b5161e'})

index_util.head()

In [ ]:
ax = index_util.plot(x='snap_id',title='rows fetched vs. rows returned',figsize=(20,5))
ax.set_ylabel("# of tuples")

In [ ]:
dml_stat = pd.read_sql_query('''with pg_stat_database_vw as (
select a.snap_id,sample_start_time,datname,numbackends,
xact_commit ,
xact_rollback   ,
blks_read  as blks_read       ,
blks_hit  as blks_hit      ,
tup_returned  as tup_returned  ,
tup_fetched   as tup_fetched  ,
tup_inserted   as tup_inserted ,
tup_updated    as tup_updated ,
tup_deleted   as tup_deleted ,
conflicts       ,
temp_files      ,
temp_bytes   as temp_bytes   ,
deadlocks       ,
blk_read_time   ,
blk_write_time  ,
stats_reset
from pg_stat_database_history a, pg_awr_snapshots_cust b where a.snap_id = b.snap_id
and a.snap_id between %(begin_snap_id)s and %(end_snap_id)s
and datname not in ('rdsadmin','template0','template1')
)
,get_lag_data as (select snap_id,sample_start_time,datname,
(lead(xact_commit::bigint,0) over (partition by datname order by snap_id)-lead(xact_commit::bigint,-1) over (partition by datname order by snap_id))/60 as delta_xact_commit,
(lead(xact_rollback::bigint,0) over (partition by datname order by snap_id)-lead(xact_rollback::bigint,-1) over (partition by datname order by snap_id))/60 as delta_xact_rollback,
(lead(blks_read::bigint,0) over (partition by datname order by snap_id)-lead(blks_read::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blks_read,
(lead(blks_hit::bigint,0) over (partition by datname order by snap_id)-lead(blks_hit::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blks_hit,
(lead(tup_returned::bigint,0) over (partition by datname order by snap_id)-lead(tup_returned::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_returned,
(lead(tup_fetched::bigint,0) over (partition by datname order by snap_id)-lead(tup_fetched::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_fetched,
(lead(tup_inserted::bigint,0) over (partition by datname order by snap_id)-lead(tup_inserted::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_inserted,
(lead(tup_updated::bigint,0) over (partition by datname order by snap_id)-lead(tup_updated::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_updated,
(lead(tup_deleted::bigint,0) over (partition by datname order by snap_id)-lead(tup_deleted::bigint,-1) over (partition by datname order by snap_id))/60 as delta_tup_deleted,
(lead(conflicts::bigint,0) over (partition by datname order by snap_id)-lead(conflicts::bigint,-1) over (partition by datname order by snap_id))/60 as delta_conflicts,
(lead(temp_files::bigint,0) over (partition by datname order by snap_id)-lead(temp_files::bigint,-1) over (partition by datname order by snap_id))/60 as delta_temp_files,
(lead(temp_bytes::bigint,0) over (partition by datname order by snap_id)-lead(temp_bytes::bigint,-1) over (partition by datname order by snap_id))/60 as delta_temp_bytes,
(lead(deadlocks::bigint,0) over (partition by datname order by snap_id)-lead(deadlocks::bigint,-1) over (partition by datname order by snap_id))/60 as delta_deadlocks,
(lead(blk_read_time::bigint,0) over (partition by datname order by snap_id)-lead(blk_read_time::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blk_read_time,
(lead(blk_write_time::bigint,0) over (partition by datname order by snap_id)-lead(blk_write_time::bigint,-1) over (partition by datname order by snap_id))/60 as delta_blk_write_time,
stats_reset
from pg_stat_database_vw)
select snap_id,delta_tup_inserted,delta_tup_updated,delta_tup_deleted
from get_lag_data
where datname=%(db_name)s;''',cnx,params={'begin_snap_id' : 30, 'end_snap_id' : 180, 'db_name' : 'pg-ces-4c664f1d-e9b0-4dbf-a2dd-3a4b77b5161e'})

dml_stat.head()

In [ ]:
ax = dml_stat.plot(x='snap_id',title='Tuples inserted / updated / deleted',figsize=(20,5))
ax.set_ylabel("# of tuples")

In [ ]:
scan_stat = pd.read_sql_query('''with pg_stat_all_tables_vw as  (
 select
 a.snap_id             ,
 sample_start_time         ,
 relid               ,
 schemaname          ,
 relname             ,
 seq_scan            ,
 seq_tup_read        ,
 idx_scan            ,
 idx_tup_fetch       ,
 n_tup_ins           ,
 n_tup_upd           ,
 n_tup_del           ,
 n_tup_hot_upd       ,
 n_live_tup          ,
 n_dead_tup          ,
 autovacuum_count
 from pg_stat_all_tables_history a,  pg_awr_snapshots_cust b where a.snap_id = b.snap_id
 and a.snap_id between %(begin_snap_id)s and %(end_snap_id)s
 and schemaname not in ('pg_catalog')),
 get_delta_data as (select snap_id,relid,sample_start_time,schemaname,relname,
 case WHEN (seq_scan-lag(seq_scan::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = seq_scan then null
 else (seq_scan-lag(seq_scan::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_seq_scan,
 case WHEN (seq_tup_read-lag(seq_tup_read::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = seq_tup_read then null
 else (seq_tup_read-lag(seq_tup_read::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_seq_tup_read,
 case WHEN (idx_scan-lag(idx_scan::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = idx_scan then null
 else (idx_scan-lag(idx_scan::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_idx_scan,
 case WHEN (idx_tup_fetch-lag(idx_tup_fetch::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = idx_tup_fetch then null
 else (idx_tup_fetch-lag(idx_tup_fetch::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_idx_tup_fetch,
 case WHEN (n_tup_ins-lag(n_tup_ins::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = n_tup_ins then null
 else (n_tup_ins-lag(n_tup_ins::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_n_tup_ins,
 case WHEN (n_tup_upd-lag(n_tup_upd::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = n_tup_upd then null
 else (n_tup_upd-lag(n_tup_upd::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_n_tup_upd,
 case WHEN (n_tup_del-lag(n_tup_del::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = n_tup_del then null
 else (n_tup_del-lag(n_tup_del::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_n_tup_del,
 case WHEN (n_tup_hot_upd-lag(n_tup_hot_upd::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = n_tup_hot_upd then null
 else (n_tup_hot_upd-lag(n_tup_hot_upd::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_n_tup_hot_upd,
 case WHEN (n_live_tup-lag(n_live_tup::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = n_live_tup then null
 else (n_live_tup-lag(n_live_tup::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_n_live_tup,
 case WHEN (n_dead_tup-lag(n_dead_tup::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = n_dead_tup then null
 else (n_dead_tup-lag(n_dead_tup::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_n_dead_tup,
 case WHEN (autovacuum_count-lag(autovacuum_count::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) = autovacuum_count then null
 else (autovacuum_count-lag(autovacuum_count::bigint,1,0::bigint) OVER (partition by schemaname,relname ORDER BY snap_id) ) END AS delta_autovacuum_count
 from pg_stat_all_tables_vw)
 select snap_id, sum(delta_seq_scan) AS total_full_table_scans,
 sum(delta_idx_scan) AS total_index_scans
 from get_delta_data
 group by snap_id
 order by snap_id;''',cnx,params={'begin_snap_id' : 30, 'end_snap_id' : 180})

scan_stat.head()

In [ ]:
ax = scan_stat.plot(x='snap_id',title='Sequential Scans vs Index Scans initiated on tables',figsize=(20,5))
ax.set_ylabel("# of Scans")

In [ ]:
session_stat = pd.read_sql_query('''select snap_id,case when state is NULL then 'Undefined' ELSE state END as session_state,count(*) total_cnt from pg_stat_activity_history
where datname not in ('template0','template1','rdsadmin')
and snap_id between %(begin_snap_id)s and %(end_snap_id)s
group by snap_id,state
order by 1,2;''',cnx,params={'begin_snap_id' : 30, 'end_snap_id' : 180})

session_stat.head()

In [ ]:
session_stat1=session_stat.pivot(index='snap_id', columns='session_state', values='total_cnt')
ax = session_stat1.plot(title='Session State',figsize=(20,10))
ax.set_ylabel("# of sessions")